 form {   
        border: 3px solid #f1f1f1;   
    }   
 input[type=text], input[type=password] {   
        border: 2px solid black;    
        display: inline-block;
        margin: 8px 0;  
        padding: 12px 20px; 
        width: 100%;   
    }

.container { 
        background-color: lightgray;
        padding: 25px;    
    } 

#login-form-submit {   
       background-color: #80bdff; 
       border: 1px solid blue; /* Blue border */
       cursor: pointer;
       font-size: 15px;
       margin: 10px 0;
       padding: 15px;
       width: 100%;    
         }
 button:hover {   
        opacity: 0.7;   
    }